Repository CodeSoom/project-spring-1-etff, pull requests merged in 2021-04, with the labels that each got.

#9 Fix typo of README
  README.md
Labels: documentation

#10 회원 인증기능 개발
  build.gradle
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  src/main/java/com/mogaco/project/auth/application/AuthenticationGuard.java
  src/main/java/com/mogaco/project/auth/application/AuthenticationService.java
  src/main/java/com/mogaco/project/auth/application/InvalidTokenException.java
  src/main/java/com/mogaco/project/auth/application/LoginFailException.java
  src/main/java/com/mogaco/project/auth/domain/MemberAuthentication.java
  src/main/java/com/mogaco/project/auth/dto/AuthRequestDto.java
  src/main/java/com/mogaco/project/auth/dto/AuthSupplier.java
  src/main/java/com/mogaco/project/auth/dto/TokenResponseDto.java
  src/main/java/com/mogaco/project/auth/infra/JwtUtil.java
  src/main/java/com/mogaco/project/auth/ui/AuthController.java
  src/main/java/com/mogaco/project/global/config/security/SecurityConfig.java
  src/main/java/com/mogaco/project/global/config/security/filter/AuthenticationErrorFilter.java
  src/main/java/com/mogaco/project/global/config/security/filter/JwtAuthenticationFilter.java
  src/main/java/com/mogaco/project/global/errors/ControllerErrorAdvice.java
  src/main/java/com/mogaco/project/global/utils/CustomPasswordEncoder.java
  src/main/java/com/mogaco/project/global/utils/TimeUtil.java
  src/main/java/com/mogaco/project/member/application/MemberService.java
  src/main/java/com/mogaco/project/member/domain/Role.java
  src/main/java/com/mogaco/project/member/domain/RoleRepository.java
  src/main/java/com/mogaco/project/member/infra/JpaRoleRepository.java
  src/main/resources/application.yml
  src/main/resources/defaultItem.sql
  src/test/java/com/mogaco/project/auth/application/AuthenticationServiceTest.java
  src/test/java/com/mogaco/project/auth/infra/JwtUtilTest.java
  src/test/java/com/mogaco/project/auth/ui/AuthControllerTest.java
  src/test/java/com/mogaco/project/global/utils/TimeUtilTest.java
  src/test/java/com/mogaco/project/meet/ui/MeetControllerTest.java
  src/test/java/com/mogaco/project/member/application/MemberServiceTest.java
  src/test/java/com/mogaco/project/member/ui/MemberControllerTest.java
  src/test/resources/application.yml
Labels: backend

#11 로그인 페이지 개발
  frontend/public/favicon.ico
  frontend/public/manifest.json
  frontend/src/components/NavBar.js
  frontend/src/components/auth/Join.js
  frontend/src/components/auth/Login.js
  frontend/src/components/meet/MeetCardOne.js
  frontend/src/redux/reducers/authReducer.js
  frontend/src/redux/sagas/authSaga.js
  src/main/resources/defaultItem.sql
  src/test/java/com/mogaco/project/member/ui/MemberControllerTest.java
Labels: frontend

#17 모임 상세 화면 개발
  frontend/src/components/NavBar.js
  frontend/src/components/auth/Join.js
  frontend/src/components/meet/Main.js
  frontend/src/components/meet/MeetCreate.js
  frontend/src/components/meet/MeetDetail.js
Labels: frontend
